{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">[</span><span class="base0b">soumyadip</span><span class="base0d"></span><span class="base05">]</span>
  <span class="base05">>_</span>
<!--
  <span class="base05">[</span><span class="base0b">megan</span><span class="base0d"> risdal</span><span class="base05">]</span>
  <span class="base05">>_</span> -->
</h1>

<div class="hero-logo">
  <img src="{{ "img/base16-eighties.svg" | relURL }}">
</div>

<div style="text-align: center;">
    Product @ <a class="path" href="https://www.kaggle.com/mrisdal" target="_blank">Kaggle</a>. Community, data science, language, & <span class="base0b">weirdness</span>.<br />
</div>
